# 2.1 Linear Model

# 2.2 Matrix Representation

# 2.3 Estimating $\beta$.

# 2.4 Least Squares Estimation

# 2.6 Example

Now let’s look at an example concerning the number of species found on the various
Galápagos Islands. There are 30 cases (Islands) and seven variables in the dataset.

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline
plt.style.use('seaborn-white')
warnings.filterwarnings('ignore')

In [2]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.preprocessing import scale
from sklearn.metrics import r2_score, mean_squared_error
import sklearn.linear_model as sk_lm
import statistics

##### Load the dataset `gala`

The variables are 
* `Species` — the number of species found on the island, 
* `Area`—the area of the island (km2), 
* `Elevation`—the highest elevation of the island (m),
* `Nearest` — the distance from the nearest island (km), 
* `Scruz` — the distance from Santa Cruz Island (km), 
* `Adjacent`—the area of the adjacent island (km2). 
We have omitted the second column (which has the number of endemic species) because we
shall not use this alternative response variable in this analysis.

In [3]:
gala=pd.read_csv('./Data/gala.csv', index_col=0)
gala.head(5)

           Species  Endemics   Area  Elevation  Nearest  Scruz  Adjacent
Baltra          58        23  25.09        346      0.6    0.6      1.84
Bartolome       31        21   1.24        109      0.6   26.3    572.33
Caldwell         3         3   0.21        114      2.8   58.7      0.78
Champion        25         9   0.10         46      1.9   47.4      0.18
Coamano          2         1   0.05         77      1.9    1.9    903.82

In [6]:
gala.drop('Endemics', axis=1).head()

           Species   Area  Elevation  Nearest  Scruz  Adjacent
Baltra          58  25.09        346      0.6    0.6      1.84
Bartolome       31   1.24        109      0.6   26.3    572.33
Caldwell         3   0.21        114      2.8   58.7      0.78
Champion        25   0.10         46      1.9   47.4      0.18
Coamano          2   0.05         77      1.9    1.9    903.82

In [7]:
gala.isna().sum()

Species      0
Endemics     0
Area         0
Elevation    0
Nearest      0
Scruz        0
Adjacent     0
dtype: int64

##### Fit a linear model by statsmodels

In [58]:
all_features=list(gala.columns.drop(['Species','Endemics']))
formula='Species~'+"+".join(all_features)
lmod=smf.ols(formula=formula, data=gala).fit()
print(lmod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Species   R-squared:                       0.766
Model:                            OLS   Adj. R-squared:                  0.717
Method:                 Least Squares   F-statistic:                     15.70
Date:                Sat, 29 Dec 2018   Prob (F-statistic):           6.84e-07
Time:                        17:24:11   Log-Likelihood:                -162.54
No. Observations:                  30   AIC:                             337.1
Df Residuals:                      24   BIC:                             345.5
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      7.0682     19.154      0.369      0.715     -32.464      46.601
Area          -0.0239      0.022     -1.068      0.296      -0.070       0.022
Elevation      0.3195      0.054      5.953      0.000       0.209       0.430
Nearest        0.0091      1.054      0.009      0.993      -2.166       2.185
Scruz         -0.2405      0.215     -1.117      0.275      -0.685       0.204
Adjacent      -0.0748      0.018     -4.226      0.000      -0.111      -0.038
==============================================================================
Omnibus:                       12.683   Durbin-Watson:                   2.476
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               13.498
Skew:                           1.136   Prob(JB):                      0.00117
Kurtosis:                       5.374   Cond. No.                     1.90e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

##### Run the same regression model using Scikit Learn Library

In [65]:
y=gala.Species
X=gala[all_features]

In [60]:
regr=sk_lm.LinearRegression()
regr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [61]:
print('Coefficient:\n', regr.intercept_, regr.coef_)

Coefficient:
 7.068220709120581 [-0.02393834  0.31946476  0.00914396 -0.24052423 -0.07480483]

##### Obtain the coefficient using linear algebra manually

Since we know, $$\beta=\left( X^TX\right)^{-1} X^Ty$$ then we can compute the coefficients by solving the linear equation. The `@` symbol denotes matrix multiplication, which is supported by both NumPy and native Python. 
`DataFrame.insert(idx, col_name, value)` add a new column to specific index.

In [66]:
X.insert(0, 'Intercept', 1)

In [67]:
np.linalg.solve(X.T @X, np.dot(X.T, y))

array([ 7.06822071, -0.02393834,  0.31946476,  0.00914396, -0.24052423,
       -0.07480483])

# 2.7 QR decomposition

# 2.8 Gauss-Markov Theorem